@import 'tailwindcss';
@font-face {
	font-family: 'ABC Monument Grotesk';
	src: url('/fonts/ABCMonumentGrotesk-Medium-Trial.woff') format('woff');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'ABC Monument Grotesk';
	src: url('/fonts/ABCMonumentGrotesk-MediumItalic-Trial.woff') format('woff');
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

html {
	font-size: 10px;
}

@theme {
	--font-sans: 'ABC Monument Grotesk', 'Helvetica Neue', sans-serif;

	--text-*: initial;
	--text-s: 1.2rem;
	--text-s--line-height: 1.3rem;
	--text-base: 1.8rem;
	--text-base--line-height: 2.2rem;
	--text-lg: 3rem;
	--text-lg--line-height: 2.8rem;
	--text-xl: 4.2rem;
	--text-xl--line-height: 3.6rem;
	--text-2xl: 7.2rem;
	--text-2xl--line-height: 5.8rem;

	--color-*: initial;
	--color-pink: #ffd7f3;
	--color-red: #ff3748;
	--color-brown: #9f785f;
	--color-blue: #097cff;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-gray: #efefef;

    --spacing: 0.5rem;
    --spacing-grid: 8px;

    --default-transition-duration: 300ms;
    --duration-fast: 150ms;
}

@layer components {
    .button {
        transition: all var(--duration-fast) ease-in;
        cursor: pointer;
    }
	.theme-pink-red {
		background-color: var(--color-pink);
		color: var(--color-red);

		&.button:hover {
			background-color: var(--color-red);
			color: var(--color-pink);
		}
	}
	.theme-pink-blue {
		background-color: var(--color-pink);
		color: var(--color-blue);

		&.button:hover {
			background-color: var(--color-blue);
			color: var(--color-pink);
		}
	}
	.theme-pink-brown {
		background-color: var(--color-pink);
		color: var(--color-brown);

		&.button:hover {
			background-color: var(--color-brown);
			color: var(--color-pink);
		}
	}
	.theme-pink-black {
		background-color: var(--color-pink);
		color: var(--color-black);

		&.button:hover {
			background-color: var(--color-black);
			color: var(--color-pink);
		}
	}
	.theme-red-pink {
		background-color: var(--color-red);
		color: var(--color-pink);

		&.button:hover {
			background-color: var(--color-pink);
			color: var(--color-red);
		}
	}
	.theme-red-black {
		background-color: var(--color-red);
		color: var(--color-black);

		&.button:hover {
			background-color: var(--color-black);
			color: var(--color-red);
		}
	}
	.theme-brown-pink {
		background-color: var(--color-brown);
		color: var(--color-pink);

		&.button:hover {
			background-color: var(--color-pink);
			color: var(--color-brown);
		}
	}
	.theme-brown-black {
		background-color: var(--color-brown);
		color: var(--color-black);

		&.button:hover {
			background-color: var(--color-black);
			color: var(--color-brown);
		}
	}
	.theme-gray-blue {
		background-color: var(--color-gray);
		color: var(--color-blue);

		&.button:hover {
			background-color: var(--color-blue);
			color: var(--color-gray);
		}
	}
	.theme-gray-red {
		background-color: var(--color-gray);
		color: var(--color-red);

		&.button:hover {
			background-color: var(--color-red);
			color: var(--color-gray);
		}
	}
	.theme-blue-pink {
		background-color: var(--color-blue);
		color: var(--color-pink);

		&.button:hover {
			background-color: var(--color-pink);
			color: var(--color-blue);
		}
	}
	.theme-blue-gray {
		background-color: var(--color-blue);
		color: var(--color-gray);

		&.button:hover {
			background-color: var(--color-gray);
			color: var(--color-blue);
		}
	}
}
