/* @layer components {
	.button {
		transition: all var(--duration-fast) ease-in;
		cursor: pointer;
	}
	.theme-pink-red {
		background-color: var(--color-pink);
		color: var(--color-red);

		&.button:hover {
			background-color: var(--color-red);
			color: var(--color-pink);
		}
	}
	.theme-pink-blue {
		background-color: var(--color-pink);
		color: var(--color-blue);

		&.button:hover {
			background-color: var(--color-blue);
			color: var(--color-pink);
		}
	}
	.theme-pink-brown {
		background-color: var(--color-pink);
		color: var(--color-brown);

		&.button:hover {
			background-color: var(--color-brown);
			color: var(--color-pink);
		}
	}
	.theme-pink-black {
		background-color: var(--color-pink);
		color: var(--color-black);

		&.button:hover {
			background-color: var(--color-black);
			color: var(--color-pink);
		}
	}
	.theme-red-pink {
		background-color: var(--color-red);
		color: var(--color-pink);

		&.button:hover {
			background-color: var(--color-pink);
			color: var(--color-red);
		}
	}
	.theme-red-black {
		background-color: var(--color-red);
		color: var(--color-black);

		&.button:hover {
			background-color: var(--color-black);
			color: var(--color-red);
		}
	}
	.theme-brown-pink {
		background-color: var(--color-brown);
		color: var(--color-pink);

		&.button:hover {
			background-color: var(--color-pink);
			color: var(--color-brown);
		}
	}
	.theme-brown-black {
		background-color: var(--color-brown);
		color: var(--color-black);

		&.button:hover {
			background-color: var(--color-black);
			color: var(--color-brown);
		}
	}
	.theme-gray-blue {
		background-color: var(--color-gray);
		color: var(--color-blue);

		&.button:hover {
			background-color: var(--color-blue);
			color: var(--color-gray);
		}
	}
	.theme-gray-red {
		background-color: var(--color-gray);
		color: var(--color-red);

		&.button:hover {
			background-color: var(--color-red);
			color: var(--color-gray);
		}
	}
	.theme-blue-pink {
		background-color: var(--color-blue);
		color: var(--color-pink);

		&.button:hover {
			background-color: var(--color-pink);
			color: var(--color-blue);
		}
	}
	.theme-blue-gray {
		background-color: var(--color-blue);
		color: var(--color-gray);

		&.button:hover {
			background-color: var(--color-gray);
			color: var(--color-blue);
		}
	}
} */
