@import 'tailwindcss';
@import './theme.css';
@import './utilities.css';
@source inline("grid-cols-{0..12}");
@source inline("theme-{pink,red,blue,black,brown,gray}-{pink,red,blue,black,brown,gray}");

html {
	font-size: 10px;
}

.button {
	@apply p-1 cursor-pointer leading-1;
}

button {
	@apply cursor-pointer;
}

@keyframes sliderDotProgress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

/* video-player element */

.player .vds-video-layout {
	--video-brand: #f5f5f5;
	--video-font-family: var(--font-sans);

	--video-bg: transparent;
	--video-border-radius: none;
	--video-border: none;

	--video-sm-button-size: 32px;
	--video-sm-play-button-size: 6rem;
	--video-sm-play-button-transform: translateY(25%);
	--video-sm-play-button-bg: var(--color-brown)
}

.player .vds-settings-menu {
	display: none;
}

.player [data-media-player][data-layout='video']:not([data-fullscreen]) {
	border-radius: 0;
	border: none;
}

.player [data-media-player][data-layout='video'] {
	background-color: none;
}

.player :where(.player .vds-video-layout .vds-controls[data-visible]) {
	background-image: none;
}

:where(.player .vds-poster) {
	height: auto;
	min-height: 100%;
}

.player .vds-poster :where(img) {
	height: 100%;
	position: absolute;
	object-fit: cover;
}
