@import 'tailwindcss';
/* @plugin "daisyui" {
  themes: false;
} */

@import './theme.css';
@import './utilities.css';
@import './calendar.css';

@source inline("grid-cols-{0..12}");
@source inline("theme-{pink,red,blue,black,brown,gray}-{pink,red,blue,black,brown,gray}");
@source inline("rotate-{0..90}");
@source inline("-rotate-{0..90}");

html {
	font-size: 10px;
}

.button {
	@apply p-1 cursor-pointer leading-1;
}

button {
	@apply cursor-pointer;
}

@keyframes sliderDotProgress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

/* a {
	display: inherit;
	line-height: inherit;
} */

/* video-player element */

.player .vds-video-layout {
	--video-brand: #f5f5f5;
	--video-font-family: var(--font-sans);

	--video-bg: transparent;
	--video-border-radius: none;
	--video-border: none;

	--video-sm-button-size: 32px;
	--video-sm-play-button-size: 6rem;
	--video-sm-play-button-transform: translateY(25%);
	--video-sm-play-button-bg: var(--color-brown);
}

.player .vds-settings-menu {
	display: none;
}

.player [data-media-player][data-layout='video']:not([data-fullscreen]) {
	border-radius: 0;
	border: none;
}

.player [data-media-player][data-layout='video'] {
	background-color: none;
}

.player :where(.player .vds-video-layout .vds-controls[data-visible]) {
	background-image: none;
}

:where(.player .vds-poster) {
	height: auto;
	min-height: 100%;
}

.player .vds-poster :where(img) {
	height: 100%;
	position: absolute;
	object-fit: cover;
}

.typo-cloud-s {
	font-size: clamp(1.3rem, 1.4vw, 1.6rem);
	line-height: 120%;
}

.typo-cloud-base {
	font-size: clamp(1.6rem, 4vw, 2.4rem);
	line-height: 120%;
}

.size-cloud {
	width: 70vw;
	min-width: 200px;
	height: auto;
}

@media (min-width: 640px) {
	.typo-cloud-s {
		font-size: clamp(1rem, 1.2vw, 1.2rem);
		line-height: 120%;
	}

	.typo-cloud-base {
		font-size: clamp(1.2rem, 2.2vw, 2rem);
		line-height: 120%;
	}
	.size-cloud {
		min-width: 250px;
		width: 20vw;
		height: auto;
	}
}

@media (min-width: 1600px) {
	.size-cloud {
		max-width: 600px;
		height: auto;
	}
	.typo-cloud-base {
		font-size: clamp(1.2rem, 2.2vw, 2.8rem);
		line-height: 120%;
	}
	.typo-cloud-s {
		font-size: clamp(1rem, 3vw, 1.8rem);
		line-height: 120%;
	}
}
