@font-face {
	font-family: 'ABC Monument Grotesk';
	src: url('/fonts/ABCMonumentGrotesk-Medium-Trial.woff') format('woff');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'ABC Monument Grotesk';
	src: url('/fonts/ABCMonumentGrotesk-MediumItalic-Trial.woff') format('woff');
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

@theme {
	--font-sans: 'ABC Monument Grotesk', 'Helvetica Neue', sans-serif;

	--text-*: initial;

	--text-m-xs: 1.2rem;
	--text-m-xs--line-height: 1.2rem;
	--text-m-s: 1.4rem;
	--text-m-s--line-height: 1.4rem;
	--text-m-base: 1.6rem;
	--text-m-base--line-height: 1.65rem;
	--text-m-lg: 2.2rem;
	--text-m-lg--line-height: 2rem;
	--text-m-xl: 2.8rem;
	--text-m-xl--line-height: 2.6rem;
	--text-m-2xl: 4rem;
	--text-m-2xl--line-height: 3.5rem;

	--text-s: 1.2rem;
	--text-s--line-height: 1.3rem;
	--text-base: 1.8rem;
	--text-base--line-height: 2.2rem;
	--text-lg: 3rem;
	--text-lg--line-height: 3rem;
	--text-xl: 4.2rem;
	--text-xl--line-height: 3.6rem;
	--text-2xl: 7.2rem;
	--text-2xl--line-height: 5.8rem;

	--color-*: initial;
	--color-pink: #ffd7f3;
	--color-red: #ff3748;
	--color-brown: #9f785f;
	--color-blue: #097cff;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-gray: #efefef;

	--spacing: 1rem;
	--spacing-xs: 0.8rem;
	--spacing-s: 1.6rem;

	--tracking-tighter: -0.05em;
	--tracking-tight: -0.04em;

	--default-transition-duration: 300ms;
	--duration-fast: 150ms;
}
